<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ex4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Show DarkBeer</servlet-name>
    <servlet-class>lesson.j2ee.ex4.ShowDarkBeer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Show DarkBeer</servlet-name>
    <url-pattern>/ShowDarkBeer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShoppingCart</servlet-name>
    <servlet-class>lesson.j2ee.ex4.ShoppingCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCart</servlet-name>
    <url-pattern>/ShoppingCart.do</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>MyFirstTag</taglib-uri>
      <taglib-location>/WEB-INF/lib/MyTag.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>MySecondTag</taglib-uri>
      <taglib-location>/WEB-INF/lib/simple.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>hou</display-name>
    <servlet-name>hou</servlet-name>
    <servlet-class>lesson.j2ee.ex4.hou</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hou</servlet-name>
    <url-pattern>/hou</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateSelectTag2</display-name>
    <servlet-name>CreateSelectTag2</servlet-name>
    <servlet-class>lesson.j2ee.ex4.CreateSelectTag2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateSelectTag2</servlet-name>
    <url-pattern>/CreateSelectTag2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CounterTag2</display-name>
    <servlet-name>CounterTag2</servlet-name>
    <servlet-class>lesson.j2ee.ex4.CounterTag2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CounterTag2</servlet-name>
    <url-pattern>/CounterTag2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CounterColor</display-name>
    <servlet-name>CounterColor</servlet-name>
    <servlet-class>lesson.j2ee.ex4.CounterColor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CounterColor</servlet-name>
    <url-pattern>/CounterColor</url-pattern>
  </servlet-mapping>
</web-app>